.IDFTransportWrapper {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  transform: translate(0, -3px);
}

.IDFTransportWrapper .red {
  color: red;
}

.IDFTransportWrapper .velibTrendGraph {
  border: solid dimgrey;
  border-width: 1px 1px 0;
  margin-top: 1ex;
}

.IDFTransportWrapper .Schedules {
  width: 400px;
}

.IDFTransportWrapper .Schedules__item.is-delayed {
  color: orange;
}

.IDFTransportWrapper .Schedules__item.is-deleted {
  color: red;
}

/* .IDFTransportWrapper .Schedules__item.is-ontime {} */

.IDFTransportWrapper .Traffic__item.is-ok-with-work {
  color: orange;
}

.IDFTransportWrapper .Traffic__item.is-ko {
  color: red;
}

/* .IDFTransportWrapper .Traffic__item.is-ok {} */

.IDFTransportWrapper .Traffic__title {
  font-weight: bold;
}

.IDFTransportWrapper .Traffic__messageContainer {
  width: 100%;
  height: 25px;
  overflow: hidden;
  position: relative;
}

.IDFTransportWrapper .Traffic__messageContents {
  position: absolute;
  top: 0;
  left: 100%;
  height: inherit;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
