/* CSS Reset */

/* TODO move to own css file */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Own components */
.IDFTransportWrapper {
  width: 100%;
}

.IDFTransportWrapper .red {
  color: red;
}

.IDFTransportWrapper .velibTrendGraph {
  border: solid dimgrey;
  border-width: 1px 1px 0;
  margin-top: 1ex;
}

.IDFTransportWrapper .Schedules {
  margin: 8px 0;
}

.IDFTransportWrapper .SchedulesItem {
  display: flex;
}

.IDFTransportWrapper .SchedulesItem__schedule.is-delayed {
  color: orange;
}

.IDFTransportWrapper .SchedulesItem__schedule.is-deleted {
  color: red;
}

/* .IDFTransportWrapper .SchedulesItem__schedule.is-ontime {} */

.IDFTransportWrapper .SchedulesItem__name {
  font-weight: bold;
  flex: 2;
  padding: 0 4px;
}

.IDFTransportWrapper .SchedulesItem__destination {
  flex: 3;
  padding: 0 4px;
}

.IDFTransportWrapper .SchedulesItem__status {
  flex: 1;
  padding: 0 4px;
}

.IDFTransportWrapper .SchedulesItem__departure {
  flex: 16;
  padding: 0 4px;
}

.IDFTransportWrapper .Traffic {
  margin: 8px 0;
}

.IDFTransportWrapper .TrafficItem {
  display: flex;
}

.IDFTransportWrapper .TrafficItem.is-ok-with-work {
  color: orange;
}

.IDFTransportWrapper .TrafficItem.is-ko {
  color: red;
}

/* .IDFTransportWrapper .Traffic__item.is-ok {} */

.IDFTransportWrapper .TrafficItem__label {
  width: calc(100% / 4);
  font-weight: bold;
  padding: 0 4px;
}

.IDFTransportWrapper .TrafficItem__status {
  width: calc(100% / 16);
  padding: 0 4px;
}

.IDFTransportWrapper .TrafficItem__infos {
  width: calc(100% * 11 / 16);
  padding: 0 4px;
  display: block;
}

.IDFTransportWrapper .TrafficItem__title {
  display: block;
}

.IDFTransportWrapper .TrafficItem__messageContainer {
  display: block;
  height: 25px;
  position: relative;
  overflow: hidden;
}

.IDFTransportWrapper .TrafficItem__messageContents {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}
