{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 109,
          "node": 18
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-proposal-object-rest-spread"]
}
