{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 58,
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"]
}
