/* @define IDFTransportWrapper */

.IDFTransportWrapper {
  width: 100%;

  .red {
    color: red;
  }

  .velibTrendGraph {
    border: solid dimgrey;
    border-width: 1px 1px 0;
    margin-top: 1ex;
  }
}
