/** @define SchedulesItem */

.SchedulesItem {
  display: flex;
}

.SchedulesItem__schedules {
  width: 100%;
}

.SchedulesItem__schedule {
  display: flex;
}

.SchedulesItem__schedule.is-delayed {
  color: orange;
}

.SchedulesItem__schedule.is-deleted {
  color: red;
}

/* .SchedulesItem__schedule.is-ontime {} */

.SchedulesItem__name {
  font-weight: bold;
  width: calc(100% / 4);
  padding: 0 4px;
}

.SchedulesItem__destination {
  width: calc(100% / 4);
  padding: 0 4px;
}

.SchedulesItem__status {
  width: calc(100% / 16);
  padding: 0 4px;
}

.SchedulesItem__departure {
  width: calc(100% * 7 / 16);
  padding: 0 4px;
}
